<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <svg
        class="coordinate-plane"
        viewBox="0 0 180 180"
        preserveAspectRatio="xMidYMid meet"
      >
        <line x1="0" y1="0" x2="0" y2="180" class="axis" />
        <line x1="0" y1="180" x2="180" y2="180" class="axis" />
        <line x1="180" y1="0" x2="0" y2="0" class="axis" />
        <line x1="180" y1="0" x2="180" y2="180" class="axis" />
        <g *ngFor="let coordinate of coordinates">
          <circle
            [attr.cx]="normalizeLongitude(coordinate.longitude)"
            [attr.cy]="normalizeLatitude(coordinate.latitude)"
            r="2"
            class="point"
          />
          <text
            [attr.x]="normalizeLongitude(coordinate.longitude) + 2"
            [attr.y]="normalizeLatitude(coordinate.latitude) - 2"
            class="label"
          >
            {{ coordinate.latitude }}, {{ coordinate.longitude }}
          </text>
        </g>
      </svg>
    </div>
  </div>
</div>
