$color-background: #E0F7FA;

$color-inner-blocks: #FFFFFF;

$color-headings: #01579B;

$color-text-main: #37474F;

$color-text-secondary: #607D8B;

$color-button-primary: #0288D1;
$color-button-secondary: #26A69A;

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: $color-headings;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.nav-btn {
  border: none;
  background-color: $color-button-secondary;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s  ease-in-out;

  &:hover {
    background-color: #1d7d75;
  }
  &:active {
    background-color: #1e5a54;
    color: #ffffff;
  }
}


