<div class="route">
  <h1>Составьте маршрут</h1>
  <div>
    <label>
      Корабль
      <select class="form-select" [(ngModel)]="ship">
        <option selected value="">Выбрать корабль</option>
        <option *ngFor="let sh of parsedShipsData">
          {{ sh.shipName }}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>
      Точку Отправления
      <select class="form-select" [(ngModel)]="start">
        <option selected value="">Выбрать точку отправления</option>
        <option
          *ngFor="let point of PointData"
          [value]="point.graphDataId"
          [disabled]="point.graphDataId === finish"
        >
          {{ point.pointName }}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>
      Точку Прибытия:
      <select class="form-select" [(ngModel)]="finish">
        <option selected value="">Выбрать точку прибытия</option>
        <option
          *ngFor="let point of PointData"
          [value]="point.graphDataId"
          [disabled]="point.graphDataId === start"
        >
          {{ point.pointName }}
        </option>
      </select>
    </label>
  </div>
  <button class="btn btn-primary" (click)="sendRoute()">
    Загрузить маршрут
  </button>
</div>
